.home-page img {
	width: 100%
}

.sports img {
	width: 50px;
}

.prince-btn {
	top: 0 px;
	left: 0px;
}

.devicons {
	font-size: 50px;
	position: relative;
}

.social {
	position: absolute;
	right: 40px;
	left: auto;
}

.nav navbar-nav {
	position: relative;
}

.sign {
	position: absolute;
	right: 40px;
	top: 10px;
	left: auto;
}

.form{

	margin: 0 auto;
	width: 250px;
}

.class {
	position: relative;
}
.event{
	margin: 100px;
	padding: 100px;
	background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/04/07/48/465811cc88e057c.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height:70%;

}
.play{

	margin: 100px;
	padding: 100px;
	
}